.form-control{
    color: #989da6 !important;
  }
  
  
  .inputLabel {
    font-size: 1rem;
    bottom: 70%;
    left: 2%;
    width: auto;
    /* text-align: center; */
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .jobSeekerInput {
    height: 58px;
        color: var(--PlaceHolder);
            padding-left: 24px;
  
  
  }
  


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 889px;
    position: relative;
}

.registerForm {
    border: 1px solid var(--secondary);
    border-radius: 12.43px;
}

.sectionRigth {
    background-color: var(--background);
    display: flex;
    border-top-right-radius: 12.43px;
    border-bottom-right-radius: 12.43px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.sectionRigth h2 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 20px;
}

.sectionRigth .rigth-img img {
    width: 444px;
}

@media (max-width: 990px) {
    .sectionRigth {
        display: none;
    }

    .sectionLeft {
        width: 100%;
    }
}

@media (max-width: 769px) {

    .registerForm {
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
}


.sectionLeft .line {
    width: 300px;
    height: 1px;
    background: #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputWrapper {
    margin-right: 10px;
}

.nameInputs .inputWrapper:last-child {
    margin-right: 0;
}

.label {
    padding: 0 7px;
   bottom: 31px;
    left: 11px;
}

.label_1 {
    padding: 0 7px;
    bottom: 31px;
    left: 11px;
}
.loginSec{
    margin-top: 150px;
}