.btn{
    background-color: var(--white);
    color: var(--secondary);
    width: 170px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    outline: none;
    border: none;
    padding: 5px 5px;
    border: 2px solid var(--secondary);
}

.btn:hover{
    background-color: var( --secondary);
    color: var(--white);
    border: 2px solid var(--white)
}