.userItem{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    color: var(--Paragraph02);
    /* background-color: var(--border01); */
    padding: 5%;
    border: 1px solid var(--border01);
    border-radius: 0.5rem;
    font-size: 1rem;
}

  @media (max-width: 991.98px) {
    .userItem {
        font-size: 0.8rem;
      
    }
  }